html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(219, 219, 219);

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
}

h1 {
    color: rgb(20, 20, 20);
    font-size: 3rem;
}

.drumMachine {
    text-align: center;
    margin: 20px auto;
}

.drumRow {
    display: inline-flex;
    flex-direction: row;

}

.drumLabelContainer {
    height: 7vw;
    width: 7vw;
    display: flex;
    align-items: center;
}

.empty {
    height: 1vw;
}

.drumLabel {
    height: auto;
    width: auto;
    margin: auto;
    text-align: center;
    padding: .5rem;
    color: rgb(228, 228, 228);
}

.checkboxRow {
    display: flex;
    align-items: center;
}

.checkbox {
    width: 4vw;
    height: 4vw;
    margin: .2vw;
    background-color: rgb(199, 199, 199);
    cursor: pointer;
}


.checkboxMain {
    width: 4vw;
    height: 4vw;
    margin: .2vw;
    background-color: rgb(148, 147, 147);
    cursor: pointer;
}

.checkboxSelected {
    background-color: indianred;
}

.transparent {
    opacity: 0;
    background-color: rgb(37,37,37);
    height: 1rem;
}

.active {
    opacity: 1;
}

.drumMachineBackground {
    display: inline-flex;
    flex-direction: column;
    padding: 0 1rem 0 0;
    background-color: rgb(37, 37, 37);
    border-radius: 1rem;
    box-shadow: 5px 5px 15px 5px #000000;
}

.playButton {
    width: 3rem;
    margin: 2rem 0 0 0;
    cursor: pointer;
}

.beatIndicator {
    width: 4vw;
    margin: 0rem 0 0 0;
    opacity: 1;
}

.transparent {
    width: 4vw;
    height: 1.5vw;
    margin: .2vw;
}



@media only screen and (max-width: 52.5rem) {
     .drumLabelContainer {
        height: 3.5rem;
        width: 4rem;
    }

    .beatIndicator {
        height: 2rem;
        width: 2rem;
    }

    .transparent {
        height: .5rem;
        width: 2rem;
        margin: .1rem;
    }

    .empty {
        height: .05rem;
    }

    .checkbox {
        width: 2rem;
        height: 2rem;
        margin: .1rem;
    }    
    .checkboxMain {
        width: 2rem;
        height: 2rem;
        margin: .1rem;
    } 

}

@media only screen and (min-width: 62.5rem) {
    .drumLabelContainer {
        height: calc(3.5rem*(62.5/52.5));
        width: calc(4rem*(62.5/52.5));
    }

    .beatIndicator {
        height: calc(2rem*(62.5/52.5));
        width: calc(2rem*(62.5/52.5));
    }

    .transparent {
        height: calc(.5rem*(62.5/52.5));
        width: calc(2rem*(62.5/52.5));
        margin: calc(.1rem*(62.5/52.5));
    }

    .empty {
        height: calc(.05rem*(62.5/52.5));
    }

    .checkbox {
        width: calc(2rem*(62.5/52.5));
        height: calc(2rem*(62.5/52.5));
        margin: calc(.1rem*(62.5/52.5));
    }    
    .checkboxMain {
        width: calc(2rem*(62.5/52.5));
        height: calc(2rem*(62.5/52.5));
        margin: calc(.1rem*(62.5/52.5));
    } 
}