html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(219, 219, 219);

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    color: rgb(20, 20, 20);
    font-size: 3rem;
}

.drumMachine {
    text-align: center;
    margin: 20px auto;
}

.drumRow {
    display: inline-flex;
    flex-direction: row;

}

.drumLabelContainer {
    height: 7vw;
    width: 7vw;
    display: flex;
    align-items: center;
}

.drumLabel {
    height: auto;
    width: auto;
    margin: auto;
    text-align: center;
    padding: .5rem;
    color: rgb(228, 228, 228);
}

.checkboxRow {
    display: flex;
    align-items: center;
}

.checkbox {
    width: 4vw;
    height: 4vw;
    margin: .2vw;
    background-color: rgb(199, 199, 199);
    cursor: pointer;
}

.checkboxMain {
    width: 4vw;
    height: 4vw;
    margin: .2vw;
    background-color: rgb(148, 147, 147);
    cursor: pointer;
}

.checkboxSelected {
    background-color: indianred;
}

.drumMachineBackground {
    display: inline-flex;
    flex-direction: column;
    padding: 0 1rem 0 0;
    background-color: rgb(37, 37, 37);
    border-radius: 1rem;
    box-shadow: 5px 5px 15px 5px #000000;
}

@media only screen and (max-width: 840px) {
    .drumLabelContainer {
        height: 4rem;
        width: 4rem;
    }

    .checkbox {
        width: 2rem;
        height: 2rem;
        margin: .1rem;
    }
    
    .checkboxMain {
        width: 2rem;
        height: 2rem;
        margin: .1rem;
    }
}